/*===============header e foter e fotos menu===================*/
* {
  font-family: "Josefin Sans";
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 540px) {
  .header {
    padding: 1.1rem;
  }
}
.header-brand {
  color: #FFF;
  font-size: 3rem;
}
.header-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 540px) {/*max-width: 425px*/
  .header-navbar ul {
    display: none;
  }
}
.header-navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.header-navbar ul li .active {
  color: #20C997;
}
.header-navbar ul li a:hover {
  color: #20C997;
}
.header-social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 853px) {/*max-width: 425px*/
  /* .header-social-media ul {
    display: none;
  } */
  /* .header-social-media ul li {
    margin: 0 0.5rem;
  } */
}
.header-social-media ul li {
  margin: 0 0.4rem;
}
.header-social-media ul li a:hover {
  color: #FFF;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

@media (max-width: 425px) {
  .gallery {
    flex-direction: column;
  }
}
.gallery-card {
  width: 31%;
  height: 400px;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
}
@media (max-width: 425px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.gallery-card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #FFF;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery-card-btn:hover {
  background-color: #FFF;
  color: #000;
}
.gallery #card-1 {
  background-image: url("img/art.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-1:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/art.jpg");
}
.gallery #card-2 {
  background-image: url("img/natureza.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}



.gallery #card-2:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/natureza.jpg");
}
.gallery #card-3 {
  background-image: url("img/style.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-3:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/style.jpg");
}

footer {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 25px;
}
footer span {
  font-weight: bold;
  color: #20C997;
}

/*# sourceMappingURL=styles.css.map */

/*==========================================*/
p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.container {
  /* padding: 40px 80px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 280px;/* width: 240px;*/
  height: 350px;/*height: 320px;*/
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

/*===========linha verde divisoria====================*/

.underline-title {
  /* border-top: 5px solid; */
  border-bottom: 5px solid;
  /* border-image: linear-gradient(to right, purple, rgb(37,171,117)); */
  border-color: rgb(37,171,117);/*rgb(37,171,117)*/
  border-image-slice: 1;
  width:37px;/*37px*/
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -10;
  border-radius:5px;
  /*abaixo outra forma de centralizar*/
  /* left: 50%;
  right: 50%;
  position: relative;
  display: block; */
}

.underline-home {
  border-top: 5px solid;
  /* border-bottom: 5px solid; */
  /* border-image: linear-gradient(to right, purple, rgb(37,171,117)); */
  border-color: rgb(37,171,117);
  border-image-slice: 1;
  width:74px;/*37px 74px*/
  /* margin: 0 auto; */
  margin-bottom: 0.46rem;
  border-radius:5px;
  /* margin-left: 60px; */
  /*abaixo outra forma de centralizar*/
  /* left: 50%;
  right: 50%;
  position: relative;
  display: block; */
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 0;
  border-radius:5px;
}